/* Estilos para todos os parágrafos */
p {
  font-size: 19px;
}

/* Estilos para todos os títulos h2 */
h2 {
  font-size: 30px;
}

/* Estilos para o título h1 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 71, 88);
}
/* Estilos para o componente my-component */
.my-component {
  padding: 10px;
  margin-bottom: 3%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para o componente FunctionComponent */
.function-component {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 3%;
  margin-top: 3%;
  border: 1px solid #ccc;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para o componente ClassComponent */
.class-component {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 3%;
  border: 1px solid #ccc;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para o novo componente JSXComponent */
.jsx-component {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 3%;
  border: 1px solid #ccc;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para o novo componente JSXContainer */
hr {
  background-color: #6177a1;
  height: 4px;
  border: none;
  margin: 20px 0;
}

.JSX-container {
  display: flex;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.usabilidade-jsx {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  align-items: center;
}

.usabilidade-jsx> div {
  background-color: #f0f0f0;
  width: 100%;
  border: 1px solid #ddd;
  padding: 16px;
  text-align: left;
}

.usabilidade-jsx ul {
  margin-left: 2%;
  list-style-type: disc;
  padding-left: 20px;
}

.usabilidade-jsx ul li::marker {
  color: #005f6b;
  margin-right: 5px;
}

.usabilidade-jsx button {
  background-color: #005f6b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.usabilidade-jsx button:hover {
  background-color: #00434a;
}

.exemplos-component-jsx {
  color: rgb(0, 71, 88);
  font-weight: bold;
}